.home {
    height: 100vh;
    background: url('./assets/background.jpg') center center no-repeat;
    background-size: cover;
    padding-right: 15%;
    padding-left: 10%;
    box-shadow: #c46868 0px 0px 13px 0px;

    &-LeftContent {
        height: 68%;
        width: 38%;
        padding-top: 19%;
        h1 {
            color: #cd1418;
            text-align: center;
        }

        &-btn {
            margin-right: 20px;
            background: $gradient;
            padding: 5px;
            color: white;
            border-radius: 15px;
            height: 30px;
            display: flex;
            align-items: center;
            border: solid 1px #cecece;
            transition: .9s;
            justify-content: center;
            width: 50%;
            p {
                padding: 5px;
            }
        }

        &-btn:hover {
            box-shadow: #3a3838 0px 0px 15px 0px;
        }

    }

    &-RightContent{
        margin-top: 12%;
        float: right;
        box-shadow: #860e0e 0px 0px 20px 8px;
        background: url('./assets/IMG_1381.jpg') center center no-repeat;
        background-size: cover;
        width: 220px;
        height: 468px;

    }
}