.nav {
    height: 62px;
    width: 100%;
    box-shadow: #e7a3a3 0px 5px 20px 1px;
    background: #fff;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 1;

    &-leftside {
        display: flex;
        align-items: center;
        padding-left: 8px;

        img {
            height: 30px;
            margin-bottom: 4px;
        }

        h1 {
            margin-right: 10px;
            font-size: 25px;
        }

        p {
            margin-right: 3px;
            transition: .3s;
            font-size: 15px;
            margin-top: 18px;
            margin-right: 10px;
            margin-left: 10px; 
            font-weight: bold; 
            color: #434040;
        }

        p:hover {
            color: #c50000;
        }

    }

    &-rightside {
        float: right;
        margin-right: 20px;
        background: $gradient;
        padding: 5px;
        color: white;
        border-radius: 15px;
        height: 30px;
        display: flex;
        align-items: center;
        border: solid 1px #cecece;
        transition: .9s;

        p {
            padding: 5px;
        }

    }

    &-rightside:hover {
        box-shadow: #8d0303 0px 0px 8px 0px;
    }

}